

.layout {
    margin: 20px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button_add{
    width: 100%;
    min-width: 100px;
}


.select_status{
    width: 230px;
}

.saveButton {
    width: 100%;
}

.card_Large{
    min-height: 100px;
}

.div_portada{
    max-height: 100px;
    /* background-image: url(../../resources/fondo.jpg); height: 200px; border: 1px solid black; */
}



.todo-form {
    border: 1px solid lightsteelblue;
    margin: auto;
    width: 60%;
    padding: 20px;
    
    text-align: center;
}

